body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-card-img {
  object-fit: cover;
}



.comments {
  background-color: rgba(150, 150, 150, 0.063);
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 0.157) 2px;
  padding: 15px;
  /* color: rgb(255, 255, 255); */
}

.imgPage {
  object-fit: cover;
  width: 300px;
}